@font-face {
    font-family: "Best Sans";
    src: url("./OpenSans-Regular.ttf");
}

body {
    font-family: "Best Sans";
}

code.literal {
    color:black !important
}

.graphviz {
    max-width: fit-content;
    margin-left: 1em;
}

.strike {
    text-decoration: line-through; }